@mixin heroImages($img) {
    background-image: linear-gradient(45deg, rgba(76, 86, 102, 0.75), rgba(68, 62, 97, 0.75)),url($img)  ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}